annotated-types==0.6.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==2.4.1
attrs==23.1.0
azure-core==1.30.2
azure-storage-blob==12.20.0
blinker==1.8.2
CacheControl==0.14.0
cachetools==5.5.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cryptography==42.0.7
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
dill==0.3.8
distlib==0.3.8
distro==1.9.0
environs==9.5.0
executing==2.0.1
filelock==3.14.0
firebase==4.0.1
firebase-admin==6.5.0
Flask==3.0.3
Flask-Cors==5.0.0
flask-marshmallow==1.2.1
Flask-SQLAlchemy==3.1.1
fonttools==4.51.0
fsspec==2024.6.0
google-api-core==2.19.2
google-api-python-client==2.144.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.18.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet==3.0.3
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.3
ibm-cloud-sdk-core==3.20.0
ibm-platform-services==0.53.6
idna==3.4
intel-openmp==2021.4.0
ipykernel==6.29.4
ipython==8.25.0
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
MarkupSafe==2.1.5
marshmallow==3.21.3
marshmallow-sqlalchemy==1.1.0
matplotlib==3.8.4
matplotlib-inline==0.1.7
minio==7.2.7
mkl==2021.4.0
mpmath==1.3.0
msedge-selenium-tools==3.141.4
msgpack==1.0.8
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
openai==1.23.3
outcome==1.2.0
packaging==24.0
pandas==2.2.2
parso==0.8.4
pbr==6.0.0
pillow==10.3.0
platformdirs==4.2.2
prettytable==3.10.0
prompt_toolkit==3.0.46
proto-plus==1.24.0
protobuf==5.27.1
psutil==5.9.8
pure-eval==0.2.2
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
pyEDFlib==0.1.37
Pygments==2.18.0
PyJWT==2.8.0
pylatexenc==2.10
pymilvus==2.4.1
PyMySQL==1.1.1
pyodbc==5.1.0
pyparsing==3.1.2
PySimpleGUI==5.0.6
PySocks==1.7.1
pyspnego==0.10.2
pyswip==0.2.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
qiskit==1.1.0
qiskit-ibm-runtime==0.23.0
requests==2.31.0
requests-ntlm==1.2.0
rsa==4.9
rustworkx==0.14.2
safetensors==0.4.3
scipy==1.13.0
seaborn==0.13.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.34
sspilib==0.1.0
stack-data==0.6.3
stevedore==5.2.0
symengine==0.11.0
sympy==1.12
tbb==2021.12.0
timm==1.0.3
torch==2.3.1
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.2
traitlets==5.14.3
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.11.0
tzdata==2024.1
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.2.1
virtualenv==20.26.3
waitress==3.0.0
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.0.4
wsproto==1.2.0
