.App {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../public/marron1.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}
.full-screen-image-login {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../public/walk.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.full-screen-image-1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../public/marron3.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.full-screen-image-2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../public/marron4.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.full-screen-image-3 {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../public/marron5.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.full-screen-image-4 {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../public/walk.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.full-screen-image-5 {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../public/walk.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.Logo-Container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Logo-Container {
    height: 100%;
    display: none;
  }
}

.Container-Logo {
  width: 15%;
  
  height: 15%;
  align-items: center;
  justify-content: center;
}

.user-button {
  display: block;
}

@media screen and (max-width: 768px) {
  .user-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Container-Logo {
    height: 100%;
    width: 100%;
  }
}

.WebApp-Body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%; 
  height: 95%;
  box-sizing: border-box;
  margin-top: 3.3%;
}

@media screen and (max-width: 768px) {
  .WebApp-Body {
    width: 98%;
    height: 93%;
    left: 1%;
    top: 6.5%;
    position: absolute;
    padding: 1%;
    margin-top: 0%;
  }
}

@media screen and (max-width: 385px) {
  .WebApp-Body {
    width: 98%;
    height: 89.5%;
    left: 1%;
    top: 10%;
    position: absolute;
    padding: 1%;
  }
}

.Content-Container {
  flex:1;
  display: flex;
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .Content-Container {
    width: 75%;
    padding-left: 12.5%;
  }
}

.Table-Container {
  display: flex;
  flex-direction: column;
  flex:1;
  box-sizing: border-box;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-top: 11vh;
  margin-right: 5vh;
}

.Table-Container::-webkit-scrollbar {
  width: 0; 
}

.Table-Container {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.Calendar-Container {
  flex: 1; 
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 15px;
  top: 12vh;
  height: 43vh;
  background-color: transparent !important;
}

.Calendar-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.calendar-content {
  color: #5e2404 !important;
}

@media (max-width: 768px) {
  .Calendar-Container {
    padding: 0;
    height: 100%;
  }
  .rbc-calendar{
    font-size: 75%;
  }
}


.rbc-day-slot.rbc-time-column.rbc-now.rbc-today {
  background-color: #FEFAE0;
}

.rbc-day-slot {
  background-color: #FEFAE0; 
}




.Calendar-Grid-Header {
  text-align: center;
  padding: 0.5rem;
}

.Calendar-Day {
  text-align: center;
  padding: 5%;
  border: 1px solid #14213D;
}

.Calendar-Day.filled {
  background-color: #FCA311;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.Table-Classes { 
  overflow: hidden;
}

.Table-Classes-Header {
  background-color: #E5E5E5;
  color: white;
}

.Table-Classes-Rows {
  color: black;
  background-color: #FCA311;
  text-align: center;
}

.Circle-Text {
  font-size: 1.56rem; 
  fill: '#14213D';
  font-weight: bold;
  text-anchor: middle;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.Content-Container-Parte-Inferior{
  flex:1;
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  background-color: #E5E5E5;
  border-radius: 30px;
}

.Image-MainMenu-Slider {
  flex: 1;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.Image-MainMenu-Slider:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

.Text-MainMenu-Slider{
  flex:1;
  position: relative;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  height: 100%;
  color: white;
}

.login-container {
  background-color: #FEFAE0;
  border-color: #BC6C25;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 45%;
  left: 30%;
  top: 30%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
  border-style: solid;
}

@media screen and (max-width: 768px) {
  .login-container {
    left: 10%;
    width: 80%;
    top: 31%;
  }
}

@media screen and (max-height: 500px) {
  .login-container {
    height: 75%;
    top:10%;
    overflow-y: auto;
  }
}

.login-content {
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #DDA15E;
}

.input-container {
  margin-bottom: 15px;
  text-align: left;
  font-size: 14px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button_login {
  background-color: #b87d48 !important;
  color: white !important; 
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.button_login:hover {
  background-color:#5e2404 !important;
  color: white !important;
}

.login-options {
  width: 51%;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 1%;
}
@media screen and (max-width: 768px) {
  .login-options {
    height: 45%;
    left: 10%;
    width: 42%;
    top: 20%;
  }
}
  .login-options-text {
    text-align: left;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: 0.3s ease;
    color: #DDA15E;
    font-weight: bold;
    text-decoration: underline;
    border: 0;
    background-color: transparent;
    width: max-content;
  }
  
  .login-options-text:hover {
    color: #0056b3;
    text-decoration: underline;
  }

@media screen and (max-width: 768px) {
  .button-fetch-classes {
    display: none;
  }
}

.classes_responsive {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
}

.input-small-container {
  flex: 1;
  margin-bottom: 15px;
  margin-right: 20px;
  text-align: left;
  font-size: 14px;
}

.input-small-container input,
.input-small-container select {
  height: 2.5rem;
  font-size: 14px;
  width: 100%;
}

.input-small-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-small-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.input-radio-container label {
  margin-right: 10px;
  font-weight: bold;
}

.input-radio-container input {
  margin-right: 5px;
}
.create-account-container {
  background-color: #FEFAE0;
  border-color: #BC6C25;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 45%;
  left: 30%;
  top: 7%;
  height: 82%;
  text-align: center;
  position: fixed;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .create-account-container {
    left: 10%;
    width: 80%;
    top:10%;
  }
}
.create-account-content {
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.button_create_account {
  background-color: #b87d48 !important;
  color: white !important; 
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.button_create_account:hover {
  background-color:#5e2404 !important;
  color: white !important;
}

.reset-password-container {
  background-color: #FEFAE0;
  border-color: #BC6C25;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 45%;
  left: 30%;
  top: 35%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .reset-password-container {
    left: 10%;
    width: 80%;
    top: 35%;
  }
}

@media screen and (max-height: 350px) {
  .reset-password-container {
    height: 75%;
    top:10%;
    overflow-y: auto;
  }
}

.reset-password-content {
  padding: 20px;
}

.rbc-events-container{
  width: 100%;
}

/* .rbc-event {
  background-color: #5e2404 !important;
  border-radius: 1vh !important;
  color: #FEFAE0 !important; 
  text-align: center;
} */



.rbc-time-gutter {
  background-color: #5e2404;
  color: white;
  text-decoration: underline;
}

.rbc-time-header {
  background-color: #5e2404;
  color: white;
  text-decoration: underline;
}

.rbc-day-bg {
  background-color: rgba(254, 250, 224, 0.8) !important;
}

.rbc-day-bg.rbc-today {
  background-color: rgba(221, 161, 94, 0.6) !important;
}

.rbc-toolbar button {
  background-color: #b87d48 !important;
  color: white !important; 
}

.rbc-toolbar button:hover {
  background-color:#5e2404 !important;
  color: white !important;
}

.rbc-toolbar button.rbc-active {
  background-color:#5e2404 !important;
  color: white !important;
}

.rbc-header {
  background-color:  #b87d48;
  color: white; 
}

.rbc-toolbar-label {
  color: #5e2404;
  font-weight: bold;
  text-decoration:underline;
  font-size: 2.5vh;  
}

.Calendar-Button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Toggle-Button {
  background-color: #b87d48;
  border: none;
  border-radius: 0.5vh;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
}

.Toggle-Button:hover {
  background-color: #5e2404;
}



.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.Modal-Content {
  background-color: #FEFAE0;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  color: #5e2404;
  font-weight: bold;
  max-width: 500px;
  text-align: center;
  position: relative;
  z-index: 1001;
}

.Modal.closing {
  opacity: 0;
  visibility: hidden;
}

.Modal-Content button {
  background-color: #b87d48;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.Modal-Content button:hover {
  background-color: #5e2404;
}

@media (max-width: 768px) {
  .Modal-Content {
    width: 90%;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .Modal-Content {
    width: 100%;
    padding: 10px;
  }
}

.create-class-button {
  position: absolute;
  width: 5%;
  right: 0.5%;
  border-radius: 100%;
   align-items: center;
  justify-content: center;
  text-align: center;
  top: 90%;
}

.error-messages {
  color:red;
  font-size: 1.5vh;
  align-content: center;
  justify-content: center;
}
 
 @media (max-width: 768px) {
  .create-class-button {
    top:3%;
    left: 7%;
    }
  }

.errorsCreateAccountModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}
  
.errorsCreateAccountContentModal {
  background-color: #14213D;
  border-radius: 8px;
  width: 60%;
  height: auto;
  z-index: 1001;
  color:rgb(216, 52, 52);
  position: absolute;
  top: 25%;
  left: 22.5%;
  font-weight: bold;
}
  
@media (max-width: 768px) {
  .errorsCreateAccountContentModal {
    left: 5%;
    width: 90%;
    }
  }

.errorsCreateAccountModal.closing {
  opacity: 0;
  visibility: hidden;
}
.new-password-container {
  background-color: #14213D;
  color:'#14213D';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 45%;
  left: 30%;
  top: 30%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .new-password-container {
    left: 10%;
    width: 80%;
    top: 31%;
  }
}

@media screen and (max-height: 500px) {
  .new-password-container {
    height: 75%;
    top:10%;
    overflow-y: auto;
  }
}

.new-password-content {
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.class-creation-container {
  background-color: #FEFAE0;
  color:'#E5E5E5';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  left: 20%;
  top: 30%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .class-creation-container {
    left: 10%;
    width: 80%;
    top: 22%;
  }
}

.class-creation-content {
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.stepper-container {
  background-color: #FEFAE0;
  width: 80%;
  margin-left: 10%;
  height: fit-content;
  margin-top: 2%;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .stepper-container {
    width: 80%;
  }
}
.leftBar {
  position: absolute;
  width: 5%;
  height: 5%;
}




.stepper-container .MuiStepIcon-root.Mui-completed {
  color: #432818; /* Color for completed step icons */
}

.stepper-container .MuiStepIcon-root.Mui-active {
  color: #BC6C25; /* Color for the active step icon */
}

.alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.alert-content {
  text-align: center;
  position: relative;
  z-index: 1001;
}

.grid-transfer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.grid-transfer-content {
  flex: 1 1 30%;
  max-width: 100%;
}

@media screen and (max-width: 700px) {
  .grid-transfer-content-small-screen.css-13i4rnv-MuiGrid-root {
    width: 80%;
  }
}

.transfer-list {
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

.routine-creation-container {
  background-color: #FEFAE0;
  color:'#E5E5E5';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  left: 10%;
  top: 20%;
  height: 78%;
  text-align: center;
  position:absolute;
}

@media screen and (max-width: 768px) {
  .routine-creation-container {
    left: 10%;
    width: 80%;
  }
}

@media screen and (max-height: 500px) {
  .routine-creation-container {
    height: 75%;
    top:10%;
    overflow-y: auto;
  }
}

.routine-creation-content {
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.input-create-routine-container {
  margin-bottom: 2px;
  text-align: left;
  font-size: 14px;
}

.input-create-routine-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-create-routine-container input,select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.grid-create-routine-container {
  height: 30%;
}

.input-small-create-routine-container {
  flex: 1;
  margin-bottom: 15px;
  margin-right: 20px;
  text-align: left;
  font-size: 14px;
}

.input-small-create-routine-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.Modal-edit-routine {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.Modal-Content-edit-routine {
  background-color: #FEFAE0;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  color: #5e2404;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 1001;
}

.Modal-edit-routine.closing {
  opacity: 0;
  visibility: hidden;
}

.Modal-Content-edit-routine button {
  background-color: #b87d48;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.Modal-Content-edit-routine button:hover {
  background-color: #5e2404;
}

@media (max-width: 700px) {
  .Modal-Content-edit-routine {
    width: 80%;
  }
}

.assign-routine-container {
  background-color: #FEFAE0;
  color:'#E5E5E5';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  left: 10%;
  top: 18%;
  height: 78%;
  text-align: center;
  position: absolute;
  overflow-y: auto;
}

.exercise-creation-container {
  background-color: #FEFAE0;
  color:'#E5E5E5';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  left: 10%;
  top: 18%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
}

.user-profile-container {
  background-color: #FEFAE0;
  border-color: #BC6C25;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 45%;
  left: 30%;
  top: 18%;
  text-align: center;
  position: fixed;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .user-profile-container {
    left: 10%;
    width: 80%;
  }
}