.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #14213D;
}

.Left-Bar {
  border-width: 1px;
  border-style: solid;
  background-color: #14213D;
  width: 8vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 0.5%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .Left-Bar {
    border-radius: 8%;
    width: 12vw;
    height: 12vh;
    position:absolute;
    top:0%;
  }
}

.Logo-Container {
  display: flex;
  justify-content: center;
  height: 18%;
  width: 100%;
}

.Container-Logo {
  width: 15vh;
  height: 15vh;
}

@media screen and (max-width: 768px) {
  .Container-Logo {
    height: 100%;
    width: 100%;
  }
}

.WebApp-Body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: calc(100% - 8vw); 
  height: 100vh;
  padding: 1rem;
  background-color: #14213D;
  box-sizing: border-box;
}

.Content-Container {
  flex:1;
  display: flex;
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .Content-Container {
    width: 75%;
    padding-left: 12.5%;
  }
}

.Table-Container {
  flex: 1;
  overflow-y: auto; 
  box-sizing: border-box;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-top: 10vh;
  margin-right: 5vh;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

@media screen and (max-width: 768px) {
  .Table-Container {
    display: none;
  }
}

.Table-Container::-webkit-scrollbar {
  width: 0; 
}

.Table-Container {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.Calendar-Container {
  flex: 1; 
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid #14213D;
  border-radius: 15px;
  top: 10vh;
  height: 43vh;
  background-color: #14213D;
}

@media screen and (max-height: 625px) {
  .Calendar-Container {
    overflow-y: scroll
  }
}

.Calendar-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #14213D;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.Calendar-Grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.Calendar-Grid-Header {
  text-align: center;
  background-color: #E5E5E5;
  padding: 0.5rem;
}

.Calendar-Day {
  text-align: center;
  padding: 5%;
  border: 1px solid #E5E5E5;
}

.Calendar-Day.filled {
  background-color: #FCA311;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.Table-Classes { 
  overflow: hidden;
}

.Table-Classes-Header {
  background-color: #14213D;
  color: white;
}

.Table-Classes-Rows {
  color: black;
  background-color: #FCA311;
  text-align: center;
}

.Circle-Text {
  font-size: 1.56rem; 
  fill: white;
  font-weight: bold;
  text-anchor: middle;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.Content-Container-Parte-Inferior{
  flex:1;
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  background-color: #14213D;
  border-radius: 30px;
}

.Image-MainMenu-Slider {
  flex: 1;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.Image-MainMenu-Slider:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

.Text-MainMenu-Slider{
  flex:1;
  position: relative;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  height: 100%;
  color: white;
}

.login-container {
  background-color: #14213D;
  color:white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  left: 35%;
  top: 30%;
  height: 42%;
  text-align: center;
  position:absolute
}

@media screen and (max-width: 768px) {
  .login-container {
    left: 2%;
    width: 90%;
    top: 20%;
  }
}

.input-container {
  margin-bottom: 15px;
  text-align: left;
  font-size: 14px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button_login {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.button_login:hover {
  background-color: #0056b3;
}

.login-options-reset {
  left:4%;
  position: absolute;
  top: 89%;
  font-size: 70%;
}

.login-options-reset:hover {
  color: #0056b3;
}

.login-options-create {
  left:4%;
  position: absolute;
  top: 93%;
  font-size: 70%;
}

.login-options-create:hover {
  color: #0056b3;
}

@media screen and (max-width: 768px) {
  .button-fetch-classes {
    display: none;
  }
}

.classes_responsive {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
}

.input-small-container {
  flex: 1;
  margin-bottom: 15px;
  margin-right: 20px;
  text-align: left;
  font-size: 14px;
}

.input-small-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-small-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.input-radio-container label {
  margin-right: 10px;
  font-weight: bold;
}

.input-radio-container input {
  margin-right: 5px;
}
.create-account-container {
  background-color: #14213D;
  color:white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  left: 35%;
  top: 7%;
  height: 82%;
  text-align: center;
  position:absolute
}
@media screen and (max-width: 768px) {
  .create-account-container {
    left: 2%;
    width: 90%;
    top: 20%;
  }
}
.button_create_account {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.button_create_account:hover {
  background-color: #0056b3;
}
.reset-password-container {
  background-color: #14213D;
  color:white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  left: 35%;
  top: 30%;
  height: 30%;
  text-align: center;
  position:absolute
}
@media screen and (max-width: 768px) {
  .reset-password-container {
    left: 2%;
    width: 90%;
    top: 20%;
  }
}

.rbc-day-bg {
  background-color: #14213D !important;
}


.rbc-event {
  color: #E5E5E5; 
  background-color: red;
}

.rbc-header {
  color: #E5E5E5; 
}

.rbc-toolbar-label {
  color: #E5E5E5; 
}

.Calendar-Button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
}

.Toggle-Button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
