.App {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../public/marron3.png');
  background-color: #F5F5F5;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}
.full-screen-image-login {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../public/marron3.png');
  background-color: #F5F5F5;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}


/* EnhancedTable.css */

.table-header {
  border-bottom: 1px solid #229799;
  border-right: 1px solid #229799;
  font-weight: bold;
  color: #48CFCB;
}

.table-cell {
  border-bottom: 1px solid #48CFCB;
  border-right: 1px solid #48CFCB;
  color: #48CFCB;
}

.table-cell:last-child {
  border-right: none; /* Para evitar el borde derecho en la última celda */
}
.sorted-header {
  color: #FF5733 !important; /* Cambia a tu color deseado para la columna ordenada */
}

.full-screen-image-1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../public/marron3.png');
  background-color: #F5F5F5;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.full-screen-image-2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: #F5F5F5;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url('../public/marron1.png');
  width: 100%;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.full-screen-image-3 {
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../public/marron1.png');
  height: 100%;
  width: 100%;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.full-screen-image-4 {
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url('../public/marron4.png');
  width: 100%;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.full-screen-image-5 {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: #F5F5F5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../public/marron4.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.Logo-Container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Logo-Container {
    height: 100%;
    display: none;
  }
}

.Container-Logo {
  width: 15%;
  
  height: 15%;
  align-items: center;
  justify-content: center;
}

.user-button {
  display: block;
}

@media screen and (max-width: 768px) {
  .user-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Container-Logo {
    height: 100%;
    width: 100%;
  }
}

.WebApp-Body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%; 
  height: 93%;
  box-sizing: border-box;
  margin-top: 3.3%;
}

@media screen and (max-width: 768px) {
  .WebApp-Body {
    width: 98%;
    height: 90%;
    left: 1%;
    top: 6.5%;
    position: absolute;
    padding: 1%;
    margin-top: 0%;
  }
}

@media screen and (max-width: 385px) {
  .WebApp-Body {
    width: 98%;
    height: 89.5%;
    left: 1%;
    top: 10%;
    position: absolute;
    padding: 1%;
  }
}

.Content-Container {
  flex:1;
  display: flex;
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .Content-Container {
    width: 75%;
    padding-left: 12.5%;
  }
}

.Table-Container {
  display: flex;
  flex-direction: column;
  flex:1;
  box-sizing: border-box;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-top: 8vh;
  margin-right: 5vh;
}

.Table-Container::-webkit-scrollbar {
  width: 0; 
}

.Table-Container {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.Calendar-Container {
  flex: 1; 
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 15px;
  top: 12vh;
  height: 43vh;
  background-color: transparent !important;
}

.Calendar-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.calendar-content {
  color: black !important;
  font-weight: bold !important;
}

@media (max-width: 768px) {
  .Calendar-Container {
    padding: 0;
    height: 100%;
  }
  .rbc-calendar{
    font-size: 75%;
  }
}


.rbc-day-slot.rbc-time-column.rbc-now.rbc-today {
  background-color: #F5F5F5;
}

.rbc-day-slot {
  background-color: #F5F5F5; 
}




.Calendar-Grid-Header {
  text-align: center;
  padding: 0.5rem;
}

.Calendar-Day {
  text-align: center;
  padding: 5%;
  border: 1px solid #229799;
}

.Calendar-Day.filled {
  background-color: #FCA311;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.Table-Classes { 
  overflow: hidden;
}

.Table-Classes-Header {
  background-color: #F5F5F5;
  color: white;
}

.Table-Classes-Rows {
  color: black;
  background-color: #FCA311;
  text-align: center;
}

.Circle-Text {
  font-size: 1.56rem; 
  fill: '#14213D';
  font-weight: bold;
  text-anchor: middle;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.Content-Container-Parte-Inferior{
  flex:1;
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  background-color: #F5F5F5;
  border-radius: 30px;
}

.Image-MainMenu-Slider {
  flex: 1;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.Image-MainMenu-Slider:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

.Text-MainMenu-Slider{
  flex:1;
  position: relative;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  height: 100%;
  color: white;
}

.login-container {
  background-color: #F5F5F5;
  border-color: #229799;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  left: 25%;
  top: 30%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
  border-style: solid;
}

@media screen and (max-width: 768px) {
  .login-container {
    left: 10%;
    width: 80%;
    top: 31%;
  }
}

@media screen and (max-height: 500px) {
  .login-container {
    height: 75%;
    top:10%;
    overflow-y: auto;
  }
}

.login-content {
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #48CFCB;
}

.input-container {
  margin-bottom: 15px;
  text-align: left;
  font-size: 14px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




.input-container-profile {
  text-align: left;
  font-size: 14px;
}

.input-container-profile label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container-profile input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button_login {
  background-color: #48CFCB !important;
  color: white !important; 
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

.button_login:hover {
  background-color:#424242 !important;
  color: white !important;
}

.login-options {
  width: 51%;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 1%;
}
@media screen and (max-width: 768px) {
  .login-options {
    height: 45%;
    left: 10%;
    width: 42%;
    top: 20%;
  }
}
  .login-options-text {
    text-align: left;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: 0.3s ease;
    color: #48CFCB;
    font-weight: bold;
    text-decoration: underline;
    border: 0;
    background-color: transparent;
    width: max-content;
  }
  
  .login-options-text:hover {
    color: #0056b3;
    text-decoration: underline;
  }

@media screen and (max-width: 768px) {
  .button-fetch-classes {
    display: none;
  }
}

.classes_responsive {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
}

.input-small-container {
  flex: 1;
  margin-bottom: 15px;
  margin-right: 20px;
  text-align: left;
  font-size: 14px;
}

.input-small-container input,
.input-small-container select {
  height: 2.5rem;
  font-size: 14px;
  width: 100%;
}

.input-small-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-small-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.input-radio-container label {
  margin-right: 10px;
  font-weight: bold;
}

.input-radio-container input {
  margin-right: 5px;
}
.create-account-container {
  background-color: #F5F5F5;
  border-color: #229799;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  left: 25%;
  top: 7%;
  height: 82%;
  text-align: center;
  position: fixed;
  overflow-y: auto;
}

.create-account-container-new {
  background-color: #F5F5F5;
  border-color: #229799;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  left: 25%;
  top: 7%;
  height: auto;
  position: fixed;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .create-account-container {
    left: 10%;
    width: 80%;
    top:10%;
  }
  .create-account-container-new {
    left: 10%;
    width: 80%;
    top:10%;
  }
}
.create-account-content {
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.button_create_account {
  background-color: #48CFCB !important;
  color: white !important; 
  font-weight: bold;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
  font-size: 16px;
}

.button_create_account:hover {
  background-color:#424242 !important;
  color: white !important;
}


.button_create_account2 {
  background-color: #48CFCB !important;
  color: white !important; 
  font-weight: bold;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
  font-size: 16px;
  margin-left: 3%;
  margin-right: 3%;
}

.button_create_account2:hover {
  background-color:#424242 !important;
  color: white !important;
}

.reset-password-container {
  background-color: #F5F5F5;
  border-color: #229799;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  left: 25%;
  top: 35%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .reset-password-container {
    left: 10%;
    width: 80%;
    top: 35%;
  }
}

@media screen and (max-height: 350px) {
  .reset-password-container {
    height: 75%;
    top:10%;
    overflow-y: auto;
  }
}

.reset-password-content {
  padding: 20px;
}

.rbc-events-container{
  width: 100%;
}




.rbc-time-gutter {
  background-color: #424242;
  color: white;
  text-decoration: underline;
}

.rbc-time-header {
  background-color: #229799;
  color: white;
  text-decoration: underline;
}

.rbc-day-bg {
  background-color: rgba(245, 245, 245, 0.6) !important;
}

.rbc-day-bg.rbc-today {
  background-color: rgba(34, 153, 153, 0.6) !important;
}

.rbc-toolbar button {
  background-color: #229799 !important;
  color: white !important; 
}

.rbc-toolbar button:hover {
  background-color:#424242 !important;
  color: white !important;
}

.rbc-toolbar button.rbc-active {
  background-color:#424242 !important;
  color: white !important;
}

.rbc-header {
  background-color:  #229799;
  color: white; 
}

.rbc-toolbar-label {
  color: #F5F5F5;
  font-weight: bold;
  text-decoration:underline;
  font-size: 2.5vh;  
}

.Calendar-Button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Toggle-Button {
  background-color: #229799;
  border: none;
  border-radius: 0.5vh;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
}

.Toggle-Button:hover {
  background-color: #424242;
}



.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}





.Modal-Content {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  color: #424242;
  font-weight: bold;
  max-width: 500px;
  text-align: center;
  position: relative;
  z-index: 1001;
}

.Modal-Content-class-creation {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 8px;
  width: 75%;
  color: #424242;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 1001;
}

.Modal.closing {
  opacity: 0;
  visibility: hidden;
}

.Modal-Content button {
  background-color: #48CFCB;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.Modal-Content button:hover {
  background-color: #424242;
}

@media (max-width: 768px) {
  .Modal-Content {
    width: 90%;
    max-width: 300px;
  }
  .Modal-Content-class-creation {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .Modal-Content {
    width: 100%;
    padding: 10px;
  }
}

.create-class-button {
  position: absolute;
  width: 5%;
  right: 0.5%;
  border-radius: 100%;
   align-items: center;
  justify-content: center;
  text-align: center;
  top: 90%;
}

.error-messages {
  color:red;
  font-size: 1.5vh;
  align-content: center;
  justify-content: center;
}
 
 @media (max-width: 768px) {
  .create-class-button {
    top:3%;
    left: 7%;
    }
  }

.errorsCreateAccountModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}
  
.errorsCreateAccountContentModal {
  background-color: #14213D;
  border-radius: 8px;
  width: 60%;
  height: auto;
  z-index: 1001;
  color:rgb(216, 52, 52);
  position: absolute;
  top: 25%;
  left: 22.5%;
  font-weight: bold;
}
  
@media (max-width: 768px) {
  .errorsCreateAccountContentModal {
    left: 5%;
    width: 90%;
    }
  }

.errorsCreateAccountModal.closing {
  opacity: 0;
  visibility: hidden;
}
.new-password-container {
  background-color: #F5F5F5;
  border-color: #229799;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  left: 25%;
  top: 30%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
  border-style: solid;
}

@media screen and (max-width: 768px) {
  .new-password-container {
    left: 10%;
    width: 80%;
    top: 31%;
  }
}

@media screen and (max-height: 500px) {
  .new-password-container {
    height: 75%;
    top:10%;
    overflow-y: auto;
  }
}

.new-password-content {
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.class-creation-container {
  background-color: #F5F5F5;
  color:'#F5F5F5';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  left: 15%;
  top: 16%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
}

.class-creation-rooms-container {
  background-color: #F5F5F5;
  color:'#F5F5F5';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  left: 15%;
  top: 1%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .class-creation-container {
    left: 10%;
    width: 80%;
    top: 22%;
  }
}

.class-creation-content {
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 20px;
}

.stepper-container {
  background-color: #F5F5F5;
  width: 80%;
  margin-left: 10%;
  height: fit-content;
  margin-top: 2%;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .stepper-container {
    width: 80%;
  }
}
@media screen and (min-height: 768px) {
  .stepper-container {
    width: 80%;
    margin-top: 12%
  }
  .routine-creation-container {
    margin-top:9%
  }
  .exercise-creation-container {
    margin-top: 13%;
  }
}

.leftBar {
  position: absolute;
  width: 5%;
  height: 5%;
}




.stepper-container .MuiStepIcon-root.Mui-completed {
  color: #432818; /* Color for completed step icons */
}

.stepper-container .MuiStepIcon-root.Mui-active {
  color: #229799; /* Color for the active step icon */
}

.alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.alert-content {
  text-align: center;
  position: relative;
  z-index: 1001;
}

.grid-transfer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.grid-transfer-content {
  max-width: 100%;
  background-color: #96B6C5;
}

.grid-transfer-content-users {
  max-width: 100%;
}

.grid-transfer-content-small-screen-users {
  max-width: 80%;
}

@media screen and (max-width: 950px) {
  .grid-transfer-content-small-screen.css-13i4rnv-MuiGrid-root {
    width: 100%;
  }
  .grid-transfer-content-small-screen-users.css-13i4rnv-MuiGrid-root{
    width: 90%;
    margin-right: 10%;
  }
}

.grid-transfer-content-small-screen-modal {
  width: 100%;
}

.transfer-list {
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  background-color: '#96B6C5';
}

.transfer-list-modal {
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

@media screen and (max-width: 400px) {
  .transfer-list-modal {
    max-width: 400px;
    max-height: 250px;
    overflow-y: auto;
  }
}

.routine-creation-container {
  background-color: #F5F5F5;
  color:'#F5F5F5';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  left: 10%;
  top: 10%;
  height: 80%;
  text-align: center;
  position:absolute;
}

@media screen and (max-width: 950px) {
  .routine-creation-container {
    left: 10%;
    width: 80%;
    height: auto;
  }
}

@media screen and (max-height: 500px) {
  .routine-creation-container {
    height: 75%;
    top:10%;
    overflow-y: auto;
  }
}

.routine-creation-content {
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.input-create-routine-container {
  margin-bottom: 2px;
  text-align: left;
  font-size: 14px;
}

.input-create-routine-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-create-routine-container input,select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.grid-create-routine-container {
  height: 30%;
}

.input-small-create-routine-container {
  flex: 1;
  margin-bottom: 15px;
  margin-right: 20px;
  text-align: left;
  font-size: 14px;
}

.input-small-create-routine-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.Modal-edit-routine {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.Modal-Content-edit-routine {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  color: #424242;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 1001;
}

.Modal-edit-routine.closing {
  opacity: 0;
  visibility: hidden;
}

.Modal-Content-edit-routine button {
  background-color: #48CFCB;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.Modal-Content-edit-routine button:hover {
  background-color: #424242;
}

@media (max-width: 700px) {
  .Modal-Content-edit-routine {
    width: 80%;
  }
}

.assign-routine-container {
  background-color: #F5F5F5;
  color:'#F5F5F5';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  left: 10%;
  top: 10%;
  height: 80%;
  text-align: center;
  position: absolute;
  overflow-y: auto;
}

.assign-routine-content {
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

@media screen and (max-width: 500px) {
  .assign-routine-container {
    margin-top: 9%;
    height: auto;
  }
  
}

.exercise-creation-container {
  background-color: #F5F5F5;
  color:'#F5F5F5';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  left: 10%;
  top: 18%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
}

.exercise-creation-content {
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.user-profile-container {
  background-color: #F5F5F5;
  border-color: #229799;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 90%;
  top: 5%;
  overflow-y: auto;
  left: 10%;
  text-align: center;
  position: fixed;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .user-profile-container {
    left: 10%;
    width: 80%;
  }
}

.input-image {
  width: 100%;
  cursor: pointer;
}

.graphic-container {
  display: 'flex';
  justify-content: 'space-around';
  align-items: 'center';
}

.graphics-container {
  background-color: #F5F5F5;
  color:'#F5F5F5';
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  left: 10%;
  top: 18%;
  height: auto;
  text-align: center;
  position:absolute;
  overflow-y: auto;
}

.graphic-content {
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.grid-container {
  display: grid;
  place-content: center;
  background-color: #F5F5F5;
}

.draw-outline-button {
  display: inline-block; 
  position: relative;
  padding: 8px 200px; /* Ajusta el padding según sea necesario */
  font-weight: 500;
  font-weight: bold;
  font-size: 20px;
  color: #F5F5F5;
  background: #229799;
  border: none;
  cursor: pointer;
  transition: color 0.4s;
}

.draw-outline-button:hover {
  color: #424242;
}

.draw-outline-button .top,
.draw-outline-button .right,
.draw-outline-button .bottom,
.draw-outline-button .left {
  position: absolute;
  background-color: #424242; /* Color similar a bg-indigo-300 */
  transition: all 0.1s;
}

.draw-outline-button .top {
  left: 0;
  top: 0;
  height: 4px;
  width: 0;
}

.draw-outline-button .right {
  right: 0;
  top: 0;
  height: 0;
  width: 4px;
}

.draw-outline-button .bottom {
  right: 0;
  bottom: 0;
  height: 4px;
  width: 0;
}

.draw-outline-button .left {
  left: 0;
  bottom: 0;
  height: 0;
  width: 4px;
}

.draw-outline-button:hover .top {
  width: 100%;
}

.draw-outline-button:hover .right {
  height: 100%;
  transition-delay: 100ms;
}

.draw-outline-button:hover .bottom {
  width: 100%;
  transition-delay: 200ms;
}

.draw-outline-button:hover .left {
  height: 100%;
  transition-delay: 300ms;
}






@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
	box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #59D5E0;
	--c2: #424242;
}

.box {
	border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}



.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}



.custom-button-go-back-managing {
  border-radius: 50%;
  border: 2px dashed #424242; 
  background-color: #48CFCB; 
  font-weight: 600; 
  text-transform: uppercase; 
  color: black; 
  transition: all 0.3s; 
  position: absolute;
  width: 40px; 
  height: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  top:1%;
  left:1%
}

.custom-button-go-back-managing-graphics {
  border-radius: 50%;
  border: 2px dashed #424242; 
  background-color: #48CFCB; 
  font-weight: 600; 
  text-transform: uppercase; 
  color: black; 
  transition: all 0.3s; 
  position: absolute;
  width: 40px; 
  height: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  top:1%;
  right:1%;
  z-index: 1001;
}

.custom-button-go-back-managing:hover {
  transform: translate(-4px, -4px);
  border-radius: 0.375rem; 
  box-shadow: 4px 4px 0px #424242; 
}

.custom-button-go-back-managing:active {
  transform: translate(0px, 0px); 
  border-radius: 1rem; 
  box-shadow: none; 
}


.graficos-selector {
  display: grid;
  place-content: end; 
  gap: 0.5rem; 
  align-items: start;
  background-color: rgba(66, 66, 66, 0.6); 
  padding: 6rem 2rem; 
  color: #48CFCB;
}

@media (max-width: 768px) { 
  .graficos-selector {
    height: 50%;
    margin-top: 25%;
  }
  .text-container {
    font-size: 80%;
  }

}


.custom-flip-link {
  position: relative; 
  display: block; 
  overflow: hidden; 
  white-space: nowrap; 
  font-weight: 900; 
  font-size: 2.25rem; 
  text-transform: uppercase; 
  line-height: 0.75; 
}

@media (min-width: 640px) { 
  .custom-flip-link {
    font-size: 4.5rem; 
  }
}
@media (min-width: 768px) { 
  .custom-flip-link {
    font-size: 5rem; 
  }
}
@media (min-width: 1024px) { 
  .custom-flip-link {
    font-size: 6rem;
  }
}

.text-container {
  position: relative;
}

.inline-block {
  display: inline-block; 
}
.button-come-back {
  position: absolute;
  top: 1%;
  left: 1%;
}


.bike {
	display: block;
	margin: auto;
	width: 16em;
	height: auto;
  color: #48CFCB;
}
.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
	animation: bikeBody 3s ease-in-out infinite;
	stroke: var(--primary);
	transition: stroke var(--trans-dur);
}
.bike__front {
	animation-name: bikeFront;
}
.bike__handlebars {
	animation-name: bikeHandlebars;
}
.bike__pedals {
	animation-name: bikePedals;
}
.bike__pedals-spin {
	animation-name: bikePedalsSpin;
}
.bike__seat {
	animation-name: bikeSeat;
}
.bike__spokes,
.bike__tire {
	stroke: currentColor;
}
.bike__spokes {
	animation-name: bikeSpokes;
}
.bike__spokes-spin {
	animation-name: bikeSpokesSpin;
}
.bike__tire {
	animation-name: bikeTire;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
}
@keyframes bikeBody {
	from { stroke-dashoffset: 79; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -79; }
}
@keyframes bikeFront {
	from { stroke-dashoffset: 19; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -19; }
}
@keyframes bikeHandlebars {
	from { stroke-dashoffset: 10; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -10; }
}
@keyframes bikePedals {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -25.133;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -21.991;
	}
	to {
		stroke-dashoffset: -25.133;
	}
}
@keyframes bikePedalsSpin {
	from { transform: rotate(0.1875turn); }
	to { transform: rotate(3.1875turn); }
}
@keyframes bikeSeat {
	from { stroke-dashoffset: 5; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -5; }
}
@keyframes bikeSpokes {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -31.416;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -23.562;
	}
	to {
		stroke-dashoffset: -31.416;
	}
}
@keyframes bikeSpokesSpin {
	from { transform: rotate(0); }
	to { transform: rotate(3turn); }
}
@keyframes bikeTire {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: 56.549;
		transform: rotate(0);
	}
	33% {
		stroke-dashoffset: 0;
		transform: rotate(0.33turn);
	}
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: 0;
		transform: rotate(0.67turn);
	}
	to {
		stroke-dashoffset: -56.549;
		transform: rotate(1turn);
	}
}

.draw-outline-button-small {
  position: relative;
  padding: 8px 20px;
  font-weight: 500;
  font-weight: bold;
  font-size: 20px;
  color: #F5F5F5;
  background: #229799;
  border: none;
  cursor: pointer;
  transition: color 0.4s;
}

.draw-outline-button-small:hover {
  color: #424242;
}

.draw-outline-button-small .top,
.draw-outline-button-small .right,
.draw-outline-button-small .bottom,
.draw-outline-button-small .left {
  position: absolute;
  background-color: #424242; /* Color similar a bg-indigo-300 */
  transition: all 0.1s;
}

.draw-outline-button-small .top {
  left: 0;
  top: 0;
  height: 4px;
  width: 0;
}

.draw-outline-button-small .right {
  right: 0;
  top: 0;
  height: 0;
  width: 4px;
}

.draw-outline-button-small .bottom {
  right: 0;
  bottom: 0;
  height: 4px;
  width: 0;
}

.draw-outline-button-small .left {
  left: 0;
  bottom: 0;
  height: 0;
  width: 4px;
}

.draw-outline-button-small:hover .top {
  width: 100%;
}

.draw-outline-button-small:hover .right {
  height: 100%;
  transition-delay: 100ms;
}

.draw-outline-button-small:hover .bottom {
  width: 100%;
  transition-delay: 200ms;
}

.draw-outline-button-small:hover .left {
  height: 100%;
  transition-delay: 300ms;
}
